@use "../variables" as vars;

.display-flex {
    display: flex;
}

.flex {
    &-row-gap {
        &--base {
            row-gap: vars.$gap;
        }

        &--sm {
            row-gap: vars.$gap * 0.5;
        }

        &--lg {
            row-gap: vars.$gap * 1.5;
        }

        &--xl {
            row-gap: vars.$gap * 3;
        }
    }

    &-col-gap {
        &--base {
            column-gap: vars.$gap;
        }

        &--sm {
            column-gap: vars.$gap * 0.5;
        }

        &--lg {
            column-gap: vars.$gap * 2;
        }

        &--xl {
            column-gap: vars.$gap * 3;
        }
    }

    &-direction {
        &--column {
            flex-direction: column;
        }

        &--row {
            flex-direction: row;
        }
    }
}

.justify {
    &-content {
        &--center {
            justify-content: center;
        }

        &--space-between {
            justify-content: space-between;
        }

        &--flex-end {
            justify-content: flex-end;
        }
    }
}

.align-items {
    &--center {
        align-items: center;
    }

    &--baseline {
        align-items: baseline;
    }

    &--flex-end {
        align-items: flex-end;
    }
}