@use "sass:map";
@import 'src/assets/formatting';
@import 'src/assets/themes/theme';
@import 'src/assets/variables';

.value {
    color: map.get($md-primary, 100);
}

.section {
    margin-bottom: $gap;
}

.label {
    width: 62px;
}