@import 'src/assets/variables.scss';

.breadcrumbs {
    color: $azure-blue;
    height: 25px;

    & a {
        cursor: pointer;
        color: inherit;
        text-decoration: none;
    }

    &-last {
        color: $gray;
    }
}