@import 'node_modules/@angular/material/theming';
@import 'src/assets/themes/theme';

.breadcrumbs {
    color: map-get($my-primary, 400);
    height: 25px;

    & a {
        color: inherit;
        text-decoration: none;
    }

    &-last {
        color: map-get($my-primary, 100);
    }
}