@use 'src/assets/variables.scss' as vars;
@use 'src/assets/flex/flex.scss';

.breadcrumbs {
    height: 25px;
    display: flex;

    & a {
        cursor: pointer;
        color: var(--mat-sys-primary);
        text-decoration: none;
    }

    &-last {
        color: vars.$gray;
    }
}