@use "sass:map";
@import 'src/assets/themes/theme';
@import 'src/assets/variables';
@import 'src/assets/formatting';
@import 'src/styles';


.bottom-link {
    position: fixed;
    bottom: 0;
    padding: $gap * 5;
    left: 0;
    right: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}