<mat-tab-group mat-stretch-tabs="false"
               backgroundColor="primary"
               color="primary"
               [selectedIndex]="currentIndex()"
               (selectedTabChange)="tabChanged.emit($event)"
               selectedIndex="0">
   <mat-tab id="person-id"
            label="Get By Legacy Person Id"> </mat-tab>
   <mat-tab id="person-identifier"
            label="Get By Person Identifier"> </mat-tab>
   <mat-tab id="dod-id"
            label="Get By DodId"> </mat-tab>
   <mat-tab id="search"
            label="Search"> </mat-tab>
</mat-tab-group>