@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/azure-blue.css';
@import 'src/assets/variables';
@import 'src/assets/flex/flex';

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: $font-size;
  height: 100%;
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
}

// label,
// .label {
//   color: $secondary-color;
// }

// .filter {
//   padding-bottom: $gap;
//   width: 100%;
// }