@use "sass:map";
@import 'src/assets/variables';
@import 'src/assets/themes/theme';
@import 'src/assets/flex/flex';

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: $font-size;
  margin: 0;
  padding: $gap;
}

html,
body {
  height: 100%;
  color: map.get($md-primary, 300) !important;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner {
  display: flex;
  align-items: center;
  margin-bottom: $gap;

  & a {
    text-decoration: none;
    color: inherit;
  }
}

a,
a:visited {
  color: map-get($map: $md-primary, $key: 400);
}