<div class="display-flex flex-direction--row flex-col-gap--xl">
    <div class="section">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h2>New Book</h2>
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="display-flex flex-direction--column flex-row-gap--base">
                    <h3>This functionality no longer exists.</h3>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>