@use 'node_modules/@angular/material' as mat;

$my-palette: (
    0 : #e8f0f8,
    10 : #c5daee,
    20 : #9ec2e3,
    25 : #9ec2e3,
    30 : #77aad7,
    35 : #77aad7,
    40 : #5a97cf,
    50 : #3d85c6,
    60 : #377dc0,
    70 : #2f72b9,
    80 : #2768b1,
    90 : #1a55a4,
    95 : #1a55a4,
    98 : #1a55a4,
    99 : #1a55a4,
    100 : #1a55a4,
    secondary: (0 : #fffaed,
        10 : #fdf7e4,
        20 : #ffecb3,
        25 : #ffecb3,
        30 : #ffe494,
        35 : #ffe494,
        40 : #ffdf7d,
        50 : #ffd966,
        60 : #ffd55e,
        70 : #ffcf53,
        80 : #ffca49,
        90 : #ffc038,
        95 : #ffc038,
        98 : #ffc038,
        99 : #ffc038,
        100 : #ffc038),
    neutral: (0 : #e0e0e0,
        10 : #b3b3b3,
        20 : #808080,
        25 : #808080,
        30 : #4d4d4d,
        35 : #4d4d4d,
        40 : #262626,
        50 : #0f0f11,
        60 : #000000,
        70 : #000000,
        80 : #000000,
        90 : #000000,
        95 : #000000,
        98 : #000000,
        99 : #000000,
        100 : #000000,
        4: #0a0b0c,
        6: #101013,
        12: #1e1f23,
        17: #292a2d,
        22: #343438,
        24: #39393d,
        87: #dbdade,
        92: #e9e8ec,
        94: #efedf1,
        96: #f5f3f7),
    neutral-variant: (0: #000000,
        10: #181c22,
        20: #2d3038,
        25: #383b43,
        30: #44474e,
        35: #4f525a,
        40: #5b5e66,
        50: #74777f,
        60: #8e9099,
        70: #a9abb4,
        80: #c4c6d0,
        90: #e0e2ec,
        95: #eff0fa,
        98: #f9f9ff,
        99: #fdfbff,
        100: #ffffff),
    error: (0: #000000,
        10: #410002,
        20: #690005,
        25: #7e0007,
        30: #93000a,
        35: #a80710,
        40: #ba1a1a,
        50: #de3730,
        60: #ff5449,
        70: #ff897d,
        80: #ffb4ab,
        90: #ffdad6,
        95: #ffedea,
        98: #fff8f7,
        99: #fffbff,
        100: #ffffff,
    )
);

$theme: mat.define-theme((color: (primary: $my-palette)));

.mdc-card,
.mat-mdc-text-field-wrapper {
    background-color: mat.get-theme-color($theme, neutral, 30) !important;
}