@import './variables';

.section {
    display: flex;

    &-column {
        flex-direction: column;
        row-gap: $gap;
    }

    &-row {
        flex-direction: row;
        column-gap: $gap;
        align-items: baseline;
    }
}