@use '@angular/material' as mat;
@import 'src/assets/formatting';
@import 'src/assets/themes/theme';
@import 'src/assets/variables';

.value {
    color: mat.get-theme-color($theme, primary, 40);
}

.section {
    margin-bottom: $gap;
}

.label {
    width: 62px;
}