@use "sass:map";
@use 'src/assets/variables' as vars;
@use 'src/assets/themes/theme' as theme;
@use 'src/assets/formatting' as format;
@use 'src/assets/flex/flex';

.bread-crumbs {
   height: 24px;
   padding: vars.$gap;
}

.banner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: calc(vars.$gap/2);

   & a {
      text-decoration: none;
      color: inherit;
   }
}

.page-content {
   padding: vars.$gap;
   display: flex;
   justify-content: space-evenly;
   align-items: center;

   &>router-outlet {
      display: none;
   }
}