<div class="display-flex section-column">
    <div>Search Type:</div>
    <div>
        <input type="radio"
               id="author-type"
               name="search-type"
               value="author"
               [checked]="searchType === searchTypes.author"
               (change)="searchTypeChanged.emit(searchTypes.author)" />
        <label for="author-type">Author Name</label>
    </div>
    <div>
        <input type="radio"
               id="book-title-type"
               name="search-type"
               value="book-title"
               [checked]="searchType === searchTypes.bookTitle"
               (change)="searchTypeChanged.emit(searchTypes.bookTitle)" />
        <label for="book-title-type">Book Title</label>
    </div>
</div>