@import 'src/assets/variables.scss';
@import 'src/assets/formatting';

.code {
    color: #f5d795;
    width: 100%;

    &-container {
        padding: $gap;
        background-color: $code;

        &-no-padding {
            padding: 0;
            overflow: hidden;
        }

        &>textarea {
            color: inherit;
            width: 99.5%;
            padding: $gap;
            border: 0;

            &:disabled {
                background-color: transparent;
            }
        }
    }

    &-scrollable {
        overflow: auto;
    }
}

.api-section {
    height: 76px;
    align-items: center;

    &--input {
        flex-grow: 2;
    }
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}