@use "sass:map";
@import 'src/assets/themes/theme';
@import 'src/assets/variables';
@import 'src/assets/formatting';
@import 'src/styles';

.bread-crumbs {
    height: 24px;
    padding: $gap;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc($gap/2);
    border-bottom: 1px solid map.get($theme, secondary, 200);

    & a {
        text-decoration: none;
        color: inherit;
    }
}

.page-content {
    padding: $gap;
    border-top: 1px solid map-get($theme, primary, 40);
    align-items: flex-start;
}